<p id="notice"><%= notice %></p>

<h1 class="page-title">Appointment Blocks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Session Type</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_blocks.each do |appointment_block| %>
      <tr>
        <td><%= appointment_block.name %></td>
        <td><%= appointment_block.phone_session_type.name %></td>
        <td><%= (appointment_block.active) ? "Yes" : "No" %></td>

        <td class="table-actions">
          <div class="btn-group" role="group">
            <%= link_to 'Show', appointment_block, :class => "btn btn-default" %>
            <%= link_to 'Edit', edit_appointment_block_path(appointment_block), :class => "btn btn-default" %>
            <%= link_to 'Delete', appointment_block, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create an Appointment block', new_appointment_block_path, :class => 'btn btn-native' %>
