<h1>Editing Workshop</h1>

<p>
  <strong>Company:</strong>
  <%= @project.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= render 'form' %>

<%= link_to 'Show', @workshop %> |
<%= link_to 'Back', project_path(@workshop.project_id) %>
