<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= date_string(@workshop.datetime) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workshop.location %>
</p>

<p>
  <strong>Workshop type:</strong>
  <%= @workshop.workshop_type.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= "#{@workshop.project.company}, #{@workshop.project.name}" %>
</p>

<p>
  <strong>Appointment Block:</strong>
  <% unless @workshop.appointment_block.nil? %>
    <%= @workshop.appointment_block.name %>
  <% end %>
</p>

<% unless @workshop.coaching_sessions.empty? %>
<p>
  <strong>Coaches:</strong>
  <ul>
    <% for coaching_session in @workshop.coaching_sessions %>
      <li><%= coaching_session.user.name %></li>
    <% end %>
  </ul>
</p>
<% end %>

<% unless @workshop.participants.empty? %>
<p>
  <strong>Participants:</strong>
  <ul>
    <% @workshop.participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
</p>
<% end %>

<%= form_tag(workshop_participants_path(@workshop), :method=>'post') do %>
  <div class="dynamic-fields">
    <%= render "participant_fields" %>
  </div>
  <p>
    <%# link_to_add_fields "Add Participant", f, :participants %>
  </p>
  </div>
  <div class="actions">
    <%= submit_tag "Add Participant", class: "btn btn-large btn-primary" %>
  </div>  
<% end %>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', project_path(@workshop.project_id) %>



<% unless @participants.empty? %>
<p>
  <strong>Project Participants:</strong>
  <ul>
    <% @participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
</p>
<% end %>













