<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= date_string(@workshop.datetime) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workshop.location %>
</p>

<p>
  <strong>Workshop type:</strong>
  <%= @workshop.workshop_type.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= "#{@workshop.project.company}, #{@workshop.project.name}" %>
</p>

<p>
  <strong>Coaches:</strong>
  <ul>
    <% for coaching_session in @workshop.coaching_sessions %>
      <li><%= coaching_session.user.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_workshop_path(project_id: @workshop.project_id, id: @workshop.id ) %> |
<%= link_to 'Back', project_path(@workshop.project_id) %>
