<p id="notice"><%= notice %></p>

<h1>Listing Workshop Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshop_types.each do |workshop_type| %>
      <tr>
        <td><%= workshop_type.name %></td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <%= link_to 'Show', workshop_type, :class => "btn btn-default" %>
            <%= link_to 'Edit', edit_workshop_type_path(workshop_type), :class => "btn btn-default" %>
            <%= link_to 'Delete', workshop_type, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop type', new_workshop_type_path, :class => 'btn btn-native' %>
