
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
  <%= form_for(@phone_session_type) do |f| %>
    <% if @phone_session_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@phone_session_type.errors.count, "error") %> prohibited this phone_session_type from being saved:</h2>

        <ul>
        <% @phone_session_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-native" %>
    </div>
  <% end %>
</div>