<%= form_for(@coaching_session) do |f| %>
  <% if @coaching_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coaching_session.errors.count, "error") %> prohibited this coaching_session from being saved:</h2>

      <ul>
      <% @coaching_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :workshop_id %><br>
    <%= f.number_field :workshop_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
