<p id="notice"><%= notice %></p>

<h1>Listing Coaching Sessions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Workshop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaching_sessions.each do |coaching_session| %>
      <tr>
        <td><%= coaching_session.user_id %></td>
        <td><%= coaching_session.workshop_id %></td>
        <td><%= link_to 'Show', coaching_session %></td>
        <td><%= link_to 'Edit', edit_coaching_session_path(coaching_session) %></td>
        <td><%= link_to 'Destroy', coaching_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coaching session', new_coaching_session_path %>
