<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.company %></td>
        <td><%= project.name %></td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <%= link_to 'Show', project, :class => "btn btn-default" %>
            <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-default" %>
            <%= link_to 'Delete', project, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
