<p id="notice"><%= notice %></p>

<h2><%= @project.company %> - <%= @project.name %></h3>



<% if @workshops.empty? %>
  <p>No Workshops have been set up for this project</p>
<% else %>

<table class="table">
  <thead>
    <tr>
      <th>Session</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.workshop_type.name %></td>
        <td><%= date_string(workshop.datetime) %></td>
        <td><%= workshop.location %></td>
        <td class="table-actions">
          <div class="btn-group" role="group">
            <%= link_to 'Show', workshop, :class => "btn btn-default" %>
            <%= link_to 'Edit', edit_workshop_path(workshop), :class => "btn btn-default" %>
            <%= link_to 'Delete', workshop, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Add a Workshop',  new_project_workshop_path(@project) %>

