<!DOCTYPE html>
<html>
<head>
  <title>Project3Coaching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <p class="notice"><%= notice %></p>
  <!-- <p class="alert"><%= alert %></p> -->



  <header>
    Logo
  </header>

  <section class="content-wrapper">
  <%if @current_user.present? %>
    <aside class="sidebar">
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Coaching</h4></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Appointments", appointment_blocks_path %></li>
      </ul>
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Settings</h4></li>
        <li><%= link_to "Workshops", workshop_types_path %></li>
        <li><%= link_to "Phone Sessions", phone_session_types_path %></li>
      </ul>
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Admin</h4></li>
        <li><%= link_to "Sign Out", logout_path, :method => :delete %></li>
      </ul>
    </aside>
  <% end %>
    <main>
      <%= yield %>
    </main>
  </section>

  <footer>footer</footer>


</body>
</html>
