<!DOCTYPE html>
<html>
<head>
  <title>Project3Coaching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="notice"><%= notice %></p>
<!-- <p class="alert"><%= alert %></p> -->

<header>
  <%if @current_user.present? %>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/admin/users">Users</a></li>
          <li><a href="/admin/projects">Projects</a></li>
          <li><a href="/admin/appointment_blocks">Phone Blocks</a></li>
          <li><a href="/admin/workshop_types">Workshop Types</a></li>
          <li><a href="/admin/phone_session_types">Phone Session Types</a></li>
        </ul>

        <%= button_to 'Sign Out', logout_path, :method => :delete, :form_class => 'navbar-form navbar-right', :class => 'btn btn-danger' %>
      </div>
    </nav>
  <% end %>
</header>

<div class="container">
  <div class="row content">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Admin</h4></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Appointments", appointment_blocks_path %></li>
      </ul>
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li><h4>Settings</h4></li>
        <li><%= link_to "Workshops", workshop_types_path %></li>
        <li><%= link_to "Phone Sessions", phone_session_types_path %></li>
      </ul>
    </div>
    <div class="col-xs-6">

        <%= yield %>

    </div>
  </div>
</div>




</body>
</html>
